<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZY4huQPn1NkPL1dtuY7-FDKgfqD2elqw</string>
	<key>GCM_SENDER_ID</key>
	<string>682072795156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiroyuki.shiraishi.ThreadApp</string>
	<key>PROJECT_ID</key>
	<string>thredsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>thredsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682072795156:ios:78971ea8aecdd3a4ccdf01</string>
</dict>
</plist>